@import 'Navbar.css';
@import 'Home.css';
@import 'Crypto.css';
@import 'Contact.css';
@import 'Coin.css';
@import 'NFTGallery.css';
@import 'Footer.css';

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0;
}

.app-container {
  position: relative;
}
