.crypto__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.crypto__title-component {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../images/crypto_background.jpeg');
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;
}

.title-text-container-1 {
  position: absolute;
  z-index: 1;
  color: #7866d5;
  font-size: 2rem;
  font-weight: bold;
  padding: 50px 60px;
  margin-bottom: 15vh;
  border-radius: 5px;
  background-color: rgba(135, 200, 243, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.title-text-container-2 {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 30px;
  color: rgb(55, 196, 149);
  font-size: 2rem;
  font-weight: bold;
  padding: 40px 50px;
  margin-bottom: 20vh;
  border-radius: 5px;
  background-color: rgba(135, 200, 243, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.title-text-container-3 {
  position: absolute;
  z-index: 0;
  bottom: -50px;
  left: 140px;
  color: rgb(55, 196, 149);
  font-size: 2rem;
  font-weight: bold;
  padding: 40px 30px;
  margin-bottom: 20vh;
  border-radius: 5px;
  background-color: rgba(135, 200, 243, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.title-text-container-4 {
  position: absolute;
  z-index: 0;
  top: 40px;
  left: 20px;
  color: rgb(55, 196, 149);
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 50px;
  margin-bottom: 20vh;
  border-radius: 5px;
  background-color: rgba(135, 200, 243, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.title-text-container-5 {
  position: absolute;
  z-index: 1;
  top: 200px;
  right: 30px;
  color: rgb(55, 196, 149);
  font-size: 2rem;
  font-weight: bold;
  overflow-y: hidden;
  padding: 20px 25px;
  margin-bottom: 20vh;
  border-radius: 5px;
  background-color: rgba(135, 200, 243, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.AVAX-logo,
.AVAX-logo img {
  position: absolute;
  top: 110px;
  right: 22.5px;
  height: 30px;
  width: 30px;
}

.BTC-logo,
.BTC-logo img {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 30px;
  height: 80px;
  width: 80px;
}

.ETH-logo,
.ETH-logo img {
  position: absolute;
  top: 70px;
  right: 31px;
  height: 100px;
  width: 100px;
}

.SOL-logo,
.SOL-logo img {
  position: absolute;
  bottom: 120px;
  left: 50px;
  height: 77.5px;
  width: 77.5px;
}

.DOT-logo,
.DOT-logo img {
  position: absolute;
  bottom: 50px;
  right: 60px;
  height: 90px;
  width: 90px;
}

/* Content */

.crypto__main-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 0;
  min-height: 50vh;
  min-width: 100vw;
  background-color: rgb(255, 248, 253);
  padding: 125px 0px;
}

.crypto__main-content-card-1 {
  height: 300px;
  width: 300px;
  background-image: linear-gradient(45deg, #7866d5, #e8c3fd);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  opacity: 0.25;
}

.crypto__main-content-card-1-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50%;
  width: 75%;
  padding-top: 20px;
  padding-left: 25px;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 20px;
}

.crypto__main-content-card-1-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50%;
  width: 100%;
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-right: 25px;
}

.crypto__main-content-card-2 {
  height: 300px;
  width: 300px;
  background-image: linear-gradient(
    180deg,
    rgba(164, 150, 249, 0.1),
    rgba(164, 150, 249, 0.3)
  );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  opacity: 0.25;
}

.crypto__main-content-card-2-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50%;
  width: 75%;
  padding-top: 20px;
  padding-left: 25px;
  color: #7866d5;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 20px;
}

.crypto__main-content-card-2-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50%;
  width: 100%;
  color: #7866d5;
  font-size: 2.25rem;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-right: 25px;
}

.crypto__main-content-card-3 {
  height: 300px;
  width: 300px;
  background-image: linear-gradient(45deg, #7866d5, #e8c3fd);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  opacity: 0.25;
}
.crypto__main-content-card-3-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50%;
  width: 75%;
  padding-top: 20px;
  padding-left: 25px;
  color: white;
  font-size: 1.25rem;
  font-weight: bolder;
  border-radius: 20px;
}

.crypto__main-content-card-3-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 50%;
  width: 100%;
  color: white;
  font-size: 2.25rem;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-right: 25px;
}

.crypto__NFT-gallery-container {
  min-height: 100vh;
  min-width: 100vw;
}

@media (max-width: 1000px) and (min-width: 750px) {
  .crypto__main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200vh;
    min-width: 100vw;
  }

  .crypto__main-content-card-1 {
    height: 350px;
    width: 70%;
    margin: 30px;
  }

  .crypto__main-content-card-1-title {
    font-size: 4rem;
  }

  .crypto__main-content-card-1-text {
    font-size: 2rem;
  }

  .crypto__main-content-card-2 {
    height: 350px;
    width: 70%;
    margin: 30px;
  }

  .crypto__main-content-card-2-title {
    font-size: 4rem;
  }

  .crypto__main-content-card-2-text {
    font-size: 2rem;
  }

  .crypto__main-content-card-3 {
    height: 350px;
    width: 70%;
    margin: 30px;
  }

  .crypto__main-content-card-3-title {
    font-size: 4rem;
  }

  .crypto__main-content-card-3-text {
    font-size: 2rem;
  }
}

@media (max-width: 750px) and (min-width: 300px) {
  .crypto__main-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200vh;
    min-width: 100vw;
  }

  .crypto__main-content-card-1 {
    height: 350px;
    width: 70%;
    margin: 30px;
  }

  .crypto__main-content-card-1-title {
    font-size: 2.5rem;
  }

  .crypto__main-content-card-1-text {
    font-size: 2rem;
  }

  .crypto__main-content-card-2 {
    height: 350px;
    width: 70%;
    margin: 30px;
  }

  .crypto__main-content-card-2-title {
    font-size: 2.5rem;
  }

  .crypto__main-content-card-2-text {
    font-size: 1.5rem;
  }

  .crypto__main-content-card-3 {
    height: 350px;
    width: 70%;
    margin: 30px;
  }

  .crypto__main-content-card-3-title {
    font-size: 2rem;
  }

  .crypto__main-content-card-3-text {
    font-size: 1.5rem;
  }
}
