.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.home__landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.home__landing-header {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 3.75rem;
}

.home__landing-container img {
  margin-top: 20px;
  height: 50px;
}

.home__cards-grid-container {
  --default-blue: #5757ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  min-width: 100vw;
  background-color: rgb(236, 181, 243);
  background-color: white;

  z-index: 1;
}

.home__cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'card1 card1 card2'
    'card3 card4 card5'
    'card6 card6 card6';
  height: 125vh;
  width: 90vw;
  gap: 30px;
}

.grid-card-1 {
  grid-area: card1;
  background-color: var(--default-blue);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.grid-card-1-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 20px;
}

.grid-card-2 {
  display: flex;
}

.grid-card-2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #c547ff;
}

.grid-card-2-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(30deg, #f0c1ff, #efd7fc);
  color: white;
  font-weight: bold;
  border-top-right-radius: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  opacity: 0.5;
}

.test-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(175, 188, 233);
}

.grid-card-3 {
  border-top-left-radius: 20px;

  background: linear-gradient(135deg, rgb(230, 245, 240), rgb(160, 240, 213));
}

.grid-card-4 {
  border-radius: 25px;
  border: 1px solid grey;
}

.grid-card-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  background-image: url('../images/CSS_circles.jpeg');
  background-size: cover;
  background-position-y: center;
  border-bottom-right-radius: 20px;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 1rem;
}

.grid-card-5 div {
  height: 50%;
  width: 100%;
}

.grid-card-5-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  height: 50%;
  width: 20%;
  font-size: 1.15rem;
  padding-left: 20px;
  padding-bottom: 20px;
}

.grid-card-5 span > span {
  color: var(--default-blue);
}

.grid-card-6 {
  grid-area: card6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.grid-card-6 div {
  width: 25%;
  height: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 15px;
  padding-left: 15px;
  border: 1px solid black;
  border-radius: 20px;
}

.grid-card-6 div:hover {
  background-color: white;
  border: none;
  box-shadow: 0 0;
  box-shadow: 0 5px 15px 0px hsl(0, 0%, 70%);
}

.first {
  font-size: 1.15rem;
}

.last {
  font-size: 1.15rem;
}

@media (max-width: 1000px) and (min-width: 675px) {
  .home__landing-header {
    font-size: 3rem;
  }
}

@media (max-width: 775px) and (min-width: 600px) {
  .home__landing-header {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) and (min-width: 350px) {
  .home__landing-header {
    font-size: 2rem;
  }
}

@media (max-width: 450px) and (min-width: 300px) {
  .home__landing-header {
    font-size: 1.5rem;
  }
}
