.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 24px;
  z-index: -1;
}

.home__landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.home__landing-container img {
  margin-top: 20px;
  height: 50px;
}

.home__cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(236, 181, 243);
  background-color: white;
  z-index: 1;
}
