.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 24px;
  z-index: -1;
}

.home__landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.home__landing-header {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 3.75rem;
}

.home__landing-container img {
  margin-top: 20px;
  height: 50px;
}

.home__cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  min-width: 100vw;
  background-color: rgb(236, 181, 243);
  background-color: white;
  z-index: 1;
}

.home__cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'card1 card1 card2'
    'card3 card4 card5'
    'card6 card7 card7';
  height: 125vh;
  width: 90vw;
  gap: 35px;
}

.home__grid-card {
  border-radius: 20px;
  box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

.card-1 {
  grid-area: card1;
}

.card-2 {
  grid-area: card2;
}

.card-3 {
  grid-area: card3;
}

.card-4 {
  grid-area: card4;
}

.card-5 {
  grid-area: card5;
}

.card-6 {
  grid-area: card6;
}

.card-7 {
  grid-area: card7;
}

.test-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(175, 188, 233);
}

@media (max-width: 1000px) and (min-width: 675px) {
  .home__landing-header {
    font-size: 3rem;
  }

  .home__cards-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: none;
    height: 175vh;
    width: 50vw;
    gap: 70px;
    margin-top: 400px;
    margin-bottom: 400px;
  }

  .home__grid-card {
    width: 325px;
    height: 325px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
  }
}

@media (max-width: 775px) and (min-width: 600px) {
  .home__landing-header {
    font-size: 2.5rem;
  }

  .home__cards-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: none;
    height: 125vh;
    width: 50vw;
    gap: 60px;
  }

  .home__grid-card {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
  }
}

@media (max-width: 600px) and (min-width: 350px) {
  .home__landing-header {
    font-size: 2rem;
  }

  .home__cards-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
    height: 350vh;
    width: 50vw;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .home__grid-card {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
  }
}

@media (max-width: 450px) and (min-width: 300px) {
  .home__grid-card {
    width: 275px;
    height: 275px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
  }

  .home__cards-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
    height: 350vh;
    width: 50vw;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .home__landing-header {
    font-size: 1.5rem;
  }
}
