.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  text-align: center;
  font-size: 24px;
  z-index: -1;
}

.main-header {
}
